#titulo {
    color: white;
    position: flex;
    margin-left: 800px;
}
/* 
header {
    background-color: rgb(25, 91, 191);
    background-size: cover;
} */
#descripcion {
    color: rgb(255, 36, 62);
    font-family: sans-serif;
    position: absolute;
}



#registrarse {
    margin-left: 1550px;;
    margin-top: 11px;
    border: 3px outset;
    border-color: white;
    border-radius: 10px;
    color: white;
    background-color: purple;
    font-size: 20px;
}

h3,button,a {
    color: white;
    font-family: cursive;
}

#iniciar {
    border: 3px outset;
    border-color: white;
    border-radius: 10px;
    color: white;
    background-color: purple;
    font-size: 20px;
}

body {
    background-image: url(/img/background.jpg);
    background-size: cover;
}

.label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 10px;
    color: white;
    display: inline-block;
    width: 100px;
  }

.input-nombre {
    border: 2px solid black;
    height: 20px;
    text-indent: 12px;
    border-radius: 50px;
    margin-top: 6px;
    margin-left: 3px;
}

.input-comentario{
    border: 2px solid black;
    height: 50px;
    text-indent: 12px;
    border-radius: 50px;
    margin-top: 6px;
    margin-left: 3px;
}
.send_button {
    font-family: fantasy;
    font-size: 20px;
    margin-top: 10px;
    border: 3px outset;
    border-color: white;
    border-radius: 10px;
    color: white;
    background-color: purple;
}

.encabezado {
    color: white;
}

.cuerpo {
    color: white;
}

#tabla {
    border: 1px solid white;
    border-collapse:collapse;
}
